 *{
    margin: 0;
    padding: 0;
 }

body,html{
    background-color: #1F1C26;
  
     overflow-x: hidden;
} 
.all_content{
max-width: 1180px;  
margin: 0px auto;
padding: 0px 10px;

}
.header{
    z-index: 5;
    position: relative;
}
.header_wrapper{
display: flex;
justify-content:space-between;  
}
.menu a{
font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
color: #F2F2F2;
padding-left: 40px;

}
.top_menu{
    display: flex;
    margin-top: 121px;
}
.logo{
    margin-top: 65px;
}
.register{
    display: flex;
    margin-left: 60px;
}
.a_login,.a_sign{
    font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
color: white;

}


.a_login{
    height: 57px;
    width: 121px;
    background-color: #F24B88;
    ;
    border: 1px solid transparent;
}
.a_sign{
    height: 54px;
    width: 21px;
    border: 1px solid #E5E5E5;
}
.menu a:hover{
 text-decoration: underline 3px rgb(196, 44, 196) ;   
    /* border-bottom: 3px solid rgb(156, 91, 145); ; */
}
.plan_title span{
font-family: 'Poppins';
color: white;
font-family: Poppins;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 96px;
letter-spacing: 0.215em;
text-align: center;


}
.plan_subtitle span{
font-family: 'Poppins';
font-size: 29px;
font-style: normal;
font-weight: 500;
line-height: 44px;
letter-spacing: 0.215em;
text-align: center;
color: rgb(255, 255, 255);
}
.sidebar_workout-plan{
    width: 100%; 
    display: flex;
    justify-content: space-between;  
}
.plan_text span{
    font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #ffffff5c;
}
.plan_text{
    width: 370px;
    margin-top: 25px;
}
.a_plan-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 190px;
    font-family: 'Poppins';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
color: white;
background-color: #F24B88;
border-radius: 10px;
margin-top: 75px;
}

.buttons_plan{
    display: flex;
    
}
.plan_btn2{
    margin-left: 35px;
}
.additional img{
    border-radius: 20px;
}
.sidebar_workout-plan{
    margin-top: 160px;
}
.add_block{
    height: 210px;
    width: 335px;
    background-color:  #332F3C;
    border-radius: 10px;
    margin-bottom: 16px;
    margin-left: 12px;
}
.additional{
    display: flex;
}
.additional_title span{
  margin-top: 20px;
    margin-left: 26px;
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: rgb(255, 255, 255);
}
.additional_text{
    font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
width: 285px;
color: #FFFFFF5C;
margin-left: 26px;
}
.additional_text{
    margin-top: 15px;
}
.around_a {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #F24B88;
   margin-left: 26px;
   margin-top: 40px;
   display: flex;
   justify-content: center;
    align-items: center; 
}
.around_a img{
height: 16px;
width: 16px;

}
.around_a span{
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: white
    ;
}
.elipse_title a{
    font-family: 'Poppins';
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
color:white;
transform: translate(-100px);
}
.elipse_title{
    transform: translate(80px,-35px);
}
.video_container{
    margin-top: 150px;
    width: 100%; 
}
.latest_title{
    font-family: 'Poppins';
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 45px;
letter-spacing: 0em;
text-align: left;
color: white;

}
.video_title a{
    font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: white;
text-decoration: none;
margin-top: 20px;
}
.video_title{
    display: flex;
    justify-content: space-between;
}
.video_content-wrapper{
    display: flex;
    justify-content: space-between;
}
.video_content{
    margin-top: 50px;
}
.block-title{
font-family: 'Poppins';
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: white;
margin-top: 16px;
}
.block-title_text{
    font-family: 'Poppins';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    
color: #a0a0a0;
}
.reusable_btn{
    width: 120px;
    height: 46px;
    background-color: #F24B88;
    border-radius:12px;
    margin-top: 16px;
}
.reusable_btn a{
    width: 120px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:12px;
    font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
text-decoration: none;
color: white;
}

.video_content-block:nth-child(3){
    transform: translate(20px);
}
.video_content-block:nth-child(2){
    transform: translate(10px);
}
.video_container{
    margin-bottom: 120px;
}
.style_element-video{
    width: 73px;
    height: 3px;
    background-color: #59253E;
}
.team_info{
    width: 100%; 
}
.team_title{
    font-family: 'Poppins';
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 45px;
letter-spacing: 0em;
text-align: left;
color: white;
margin-bottom: 102px;
}
.team_block{
    width: 261px;
    height: 455px;
    

    margin: 0px;
    padding: 0px;
    background-color: white;
}
.team_block-frame4{
    width: 261px;
    height: 455px;
    

    margin: 0px;
    padding: 0px;
    background-color: white;
}
.team_content{
    display: flex;
    justify-content: space-between; 
  
 margin-bottom: 150px; 
    
}
.team_block-title{
    font-family: 'Poppins', sans-serif;
font-size: 18px;
font-style: italic;
font-weight: 700;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
margin-left: 12px;
}
.team_block-subtitle{
    font-family: 'Poppins';
font-size: 13px;
font-style: italic;
font-weight: 600;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
margin-left: 12px;
}
.team_block-content{
    margin-top: 10px;
    font-family: 'Poppins';
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color: rgb(95, 95, 95);
;
margin-left: 2px;
}
.team_block img{
  transform: translate(-5px,-5px);  
    margin: 0;
    padding: 0;
}
.team_block-text4{
    margin-top: 21px;
}
.team_block .reusable_btn{
    margin-left: 114px;
    margin-top: 77px;
}
.team_block-frame4 .reusable_btn{
    margin-left: 114px;
    margin-top: 77px;
}
.a_sign:hover{
    border: 3px solid rgb(156, 91, 145);
}
.a_plan-btn:hover{
    border: 3px solid rgb(156, 91, 145);
}
.a_login:hover{
    border: 3px solid rgb(156, 91, 145);
}

.frame4{
    -webkit-box-shadow: 0px 16px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 0px 16px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 0px 16px 8px 0px rgba(34, 60, 80, 0.2);
}
.burger_wrapper{
   display: block;
    width: 183px ;
    /* background-color: #59253E;  */
position: relative;
color: white;
height:40px;
text-align: center;
border-radius: 13px;

}
#check-menu{
    display:none; 
}
label{
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%; 
cursor: pointer;
z-index:2;
line-height: 40px;
}
.burger_line{
    position: absolute;
    top: 8px;
    right: 10px;
    width: 35px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
}
.second,.third{
    top:18px;
}
.fourth{
    top:28px
}
.main_menu{
    position: absolute;
    width:100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  transition: 1s;
  z-index: 3;
  position: absolute;
}
.main_menu a{
    display: block;
   width: 100%; 
    padding:20px; 
   color: white;
    text-decoration: none;
  transition: 0.3s;
   background-color:#59253E ;
   font-family: 'Poppins';
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
}
.main_menu a:hover{
    text-decoration: underline red;
    transform: translate(-10px);
}

#check-menu:checked ~ .main_menu{
    max-height: 700px;
    font-size: 16px;
    border-radius: 19px;
}
#check-menu:checked ~ .first{
    display:none;
}
#check-menu:checked ~ .second{
    transform: rotate(45deg);
}
#check-menu:checked ~ .third{
    transform: rotate(-45deg);
}
#check-menu:checked ~ .fourth{
    display: none;
}
.register_burger{
    display: flex;
    flex-wrap: nowrap;
    height: 57px;
  width: 212px;
}
.a_sign-burger{
  border:1px solid white;
  height: 17px;
  width: 12px;
}
.a_login-burger{
    background-color: #920036;
    height: 17px;
    width: 12px;
    border:1px solid white;
}
.burger_wrapper{
    display:none;
}
.discover{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discover_wrapper{
    height: 382px;
    width: 100%;
    background-color: #332F3C;
    width: 100%; 
margin-bottom: 60px;
display: flex;
flex-direction: column;
align-items: center;
}
.discover_title span{
    font-family: 'Poppins';
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 72px;
letter-spacing: 0.215em;
text-align: center;
color: white;
margin-top: 66px;
}
.discover_title{
    margin-top: 66px;
}
.discover_subtitle span{
    font-family: 'Poppins';
font-size: 13px;
font-style: normal;
font-weight: 100;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
margin-top: 66px;
}
.discover_subtitle{
    width: 664px;
    text-align: center;
  color: #FFFFFF;


}
.dis_btn1{
    width: 200px;
    height: 70px;
    background-color: #F24B88;
    border-radius:12px ;
}
.dis_btn1:hover{
    border: 3px solid rgb(156, 91, 145); 
}
.dis_btn2{
    width: 200px;
    height: 70px;
    background-color: #1F1C26;
    border-radius:12px ;
    margin-left: 12px;
}
 .dis_btn2:hover{ 
    border: 3px solid rgb(156, 91, 145); 
 } 
.dis_btn1 a{
    font-family: 'Poppins';
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
text-decoration: none;
color: white;
width: 200px;
height: 70px;
display: flex;
justify-content: center;
align-items: center;
}
.dis_btn2 a{
    font-family: 'Poppins';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: white;
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discover_buttons{
    display: flex;
    margin-top: 60px;
}
.footer{
    width: 100%; 
}
.footer_border{
    width: 100%; 
    height: 2px;
    background-color: rgb(153, 149, 149);
    margin-bottom: 37px;
  }
.footer_border2{
    width: 100%; 
  height: 2px;
  background-color: rgb(153, 149, 149);
  margin-bottom: 57px;
  margin-top: 37px;
}
.footer_social-content span{
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}
.footer_social-content{
    width: 405px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.social_blocks{
    display:flex;
    
    
}
.social_blocks a :nth-child(4){
    -webkit-box-shadow: 1px 13px 8px 0px rgba(34, 60, 80, 0.2);
-moz-box-shadow: 1px 13px 8px 0px rgba(34, 60, 80, 0.2);
box-shadow: 1px 13px 8px 0px rgba(34, 60, 80, 0.2);
}
.footer_contact{
    display: flex;
}
.info_block nav{
    display: flex;
    flex-direction: column;
}
.info_block nav a{
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: white;
    margin-top:18px;
}
.info_block nav a:hover{
    border-bottom: 2px solid rgb(156, 91, 145);
}
.info_block span{
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
.info_block {
    margin-right: 60px;
}
.footer_contact{
    display: flex;
}
.footer_content{
    display: flex;
}
.get_block{
    margin-right: 120px;
}
.get_block span{
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
.get_block nav{
    display: flex;
    flex-direction: column;
}
.get_block nav a{
    font-family: 'Poppins';
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: white;
    margin-top:18px;
}
.nav_footer a:hover{
    border-bottom: 2px solid #9c5b91;
}
.btn_footer:hover{
    border: 2px solid #9c5b91;
}
.menu_nav:hover{
    border: 2px solid #9c5b91;
} 

.email_block span{
    font-family: 'Poppins';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
.email_footer{
    width: 321px;
    height: 36px;
    border-radius: 8px;
    margin-top: 25px;
} 
::placeholder{
    padding-left: 36px;
    font-family: 'Poppins';
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
}
.btn_footer{
height:50px;
width: 120px;
background-color: #F24B88;
border-radius: 8px;
margin-top: 15px;
}
.btn_footer a{
    font-family: 'Poppins';
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;

color: white;
text-decoration: none;
height:50px;
width: 120px;
display: flex;
justify-content: center;
align-items: center;
}
.footer_additionally{
    display: flex;
    justify-content: space-between;
    margin-top: -40px;
    margin-bottom: 30px;
}
.footer_additionally span{
    color: white;
    font-family: 'Poppins';
font-size: 12px;
font-style: normal;
font-weight: 300;
line-height: 18px;
letter-spacing: 0em;
text-align: left;

}
.addit_text{
    margin-top: -46px;
}
.img_adap{
    display: none;
}
.run_adap{
    display: none;
}
.team_info-adap{
    display: none;
}
.connection{
    display: flex;
}
@media(max-width:1024px){
    .all_content{
        display: flex;
      align-items: center;
        flex-direction: column;
    }
   .sidebar_workout-plan{
       display:flex;
       flex-direction: column-reverse;
       align-items: center;
      
   }
   .add_block{
       width: 680px;
       
   }
   .additional_text{
    width: 600px;
    
   }
   .plan_text{
       width: 800px;
   }
   .plan_title,.plan_subtitle{
       display: flex;
       justify-content: center;
   }
   .buttons_plan{
       display: flex;
       justify-content: space-between;
   }
   .video_content{
       margin-left: -40px;
   }
   .video_content-wrapper{
       display: flex;
     flex-direction: column;
     align-items: center;
      
   }
   .video_content-block a img{
       margin-left: 120px;
       height: 350px;
       width: 600px;
      
   }
   .video_content-block:nth-child(2){
    margin-left: -20px;
   }
   .video_content-block:nth-child(3){
    margin-left: -40px;
   }
   .video_content-block{
       margin-bottom: 120px;
   }
   .block-title_text{
       transform: translate(170px);
       width: 500px;
   }
   .block-title{
    transform: translate(380px);
   }
   .video_content-wrapper .reusable_btn{
    transform: translate(560px);
    margin-top: 20px;
   }
   .email_block{
       transform: translate(-30px);
   }
   .team_content{
       display: flex;
       flex-wrap: wrap;
       width: 600px;
      transform: translate(225px);
   }
   .team_title{
    transform: translate(450px);
   }
   .team_block:nth-child(3){
margin-top: 56px;
   }
   .team_block-frame4{
    margin-top: 56px;
       }
}
@media(max-width:960px){
    .additional{
        width: 630px;
        margin-left: -300px;
    }
    .add_block{
        width: 600px;
    }
    .additional_text{
    width:     500px;
    }
    .email_block{
        transform: translate(-110px);
    }
}
@media(max-width:768px){
    .logo{
        margin-left: 10px;
    }
    .top_menu{
        display: none;
    }
    .burger_wrapper{
       display: block;
       margin-top: 60px;
      
    }
    .main_menu{
       
        z-index: 1;
        /* transform: translate(0px,30px); */
    }
    .header{
        width: 768px;
        padding: 0 10px;
        /* transform: translate(0px , 200px); */
    }
    .header_wrapper{
        display: flex;
        justify-content: space-between;
    }
    .add_block{
        display: none;
    }
    .additional{
        display: flex;
        justify-content: center;
        transform: translate(150px);
    }
   .img{
       display: none;
   }
   .img_adap{
       display: block;
       z-index: 3;
       position: relative;
   }
   .img_adap img{
    width: 500px;
    height: 450px;
    
   }
   .plan_text{
       width: 380px;
       text-align: center;
       transform: translate(15px);
   }
   .video_content-wrapper{
    transform: translate(-40px);
   }
   .team_info-wrapper{
      transform: translate(-140px);
   }
   .discover_wrapper{
       /* transform: translate(10px); */
       width: 760px;
   }
   .discover_title span{
font-size: 24px;
   }
   .discover_subtitle span{
       font-size: 12px;
       font-weight: 300;
   }

   .discover_subtitle{
    width: 600px;
   }
   
   .footer_content{
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translate(60px);
   }
   .footer_social-content{
       width: 300px;
       text-align: center;
       transform: translate(-30px);
   }
   .social_blocks{
       transform: translate(20px);
   }
   .connection{
       display: flex;
       flex-direction: column-reverse;
   }
   .email_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-40px); 
   }
   .footer_contact{
       margin-top: 40px;
       transform: translate(50px);
   }
   .footer_border2{
    margin-right: 120px;
   }
   .addit_text{
       margin-left: 80px;
   }
   .get_block{
       margin-left: 90px;
   }
   .nav_footer{
       text-align: center;
   }
   .footer_additionally{
    transform: translate(-80px);
   }
}
@media(max-width:640px){
    .header{
        width:540px;}
    .discover_wrapper{
     width: 620px;
    }
    .team_info-wrapper{
        margin-left: -80px;
    }
    .run_img{
        width: 460px !important;
        height: 400px;
      
    }
}
@media(max-width:480px){
    .header_wrapper{
        width: 460px;
        margin-left: 30px;
    }
    .img_adap img{
        width: 460px;
        height: 400px;
    }
    .video_content-block a img{
        width: 460px;
        height: 300px;
        border-radius: 30px;
    }
    .video_content-block .reusable_btn{
        transform: translate(300px);
    }
    .block-title_text{
        transform: translate(120px);
        width: 460px;
    }
    .block-title{
        margin-left: -50px;
    }
    .team_block,.team_block-frame4{
        display: none;
    }
    .team_info-adap{
        display: block;
        transform: translate(100px,-500px);
    }
    .team_title{ 
        display: block;
        transform: translate(30px); 
        margin-top: 120px;
    }
 .row1{
     display: flex;
 }
 .row2{
    display: flex;
    margin-top: 130px;
 }
 .wrapper_team-adap{
     transform: translate(-175px);
    
 }
 .adap_block{
     margin-left: 70px;
    
 }
 .adap_block img{
    width: 200px;
    border-radius:20px;
 }
 .team_block-title,.team_block-subtitle{
color: white;
 }
 .reusable_btn{
     transform: translate(260px);
     margin-top: 120px;
 }
.discover{
     margin-top: -400px;
 }
 .discover_wrapper{
     width: 470px;
 }
 .discover_subtitle{
     width: 430px;
 }
 .footer_additionally{
  transform: translate(20px);
width: 420px;
 }
}
@media(max-width:420px){
    .header_wrapper{
        width: 410px;
        margin-left: 60px;
    }
    .logo img{
        height: 100px;
    }
    .img_adap img{
        width: 400px;
        height: 340px;
    }
    .video_content-block a img{
        width: 390px;
        height: 230px;
    }
    .block-title_text{
        width: 390px;
        transform: translate(140px);
    }
    .reusable_btn{
       margin-left: -30px;
    }
    .block-title{
        margin-left: -90px;
    }
    .adap_block{
        margin-left: 20px;
    }
    .wrapper_team-adap{
        margin-left: 45px;
    }
    .wrapper_team-adap .reusable_btn{
        margin-left: -80px;
    }
    .discover_wrapper{
        width: 390px;
    }
    .discover_title span{
        font-size: 18px;
    }
    .discover_subtitle span{
        font-size: 10px;
        width: 250px;
    }
    .discover_subtitle{
        width: 350px;
    }
    .dis_btn1{
width: 150px;
    }
    .dis_btn2{
width: 150px;
    }
    .dis_btn2 a span{
        margin-left: -50px;
    }
    .dis_btn1 a span{
        margin-left: -50px;
    }
    .footer_additionally{
        width: 350px;
    }
}
@media(max-width:375px){
    .header_wrapper{
        width: 350px;
        margin-left: 90px;
    }
    .img_adap img{
        width: 350px;
        height:280px;
    }
    .plan_btn2{
        display: none;
    }
    .plan_text{
        width: 350px;
        margin-left: -30px;
    }
    .plan_btn{
        margin-left: 70px;
    }
    .main_menu{
        width: 110px;
        margin-left: 20px;
    }
    .video_content-block a img{
     width: 350px;
     height: 210px;
    }
    .block-title_text{
        width: 320px;
        margin-left: -10px;
        text-align: center;
    }
    .video_title a{
        display: none;
    }
  .block-title{
      margin-left: -115px;
  }
  .reusable_btn{
      margin-left: -70px;
  }
  .team_info-adap{
      margin-left: -60px;
  }
  .wrapper_team-adap{
      width: 360px;
      margin-left: 110px;
  }
  .adap_block img{
      width: 160px;
      height: 160px;
      margin-left: 10px;
  }
  .team_block-title{
      font-size: 14px;
  }
  .wrapper_team-adap .reusable_btn{
      width: 190px;
     height: 70px;
     display: flex;
     align-items: center;
     justify-content: center;
     transform: translate(180px,-90px);
  }
  .wrapper_team-adap .reusable_btn a{
      font-size: 20px;
  }
  .discover_wrapper{
      width: 365px;
  }
  .discover_title span{
    font-size: 18px;
  }
  .discover_subtitle span{
      font-size: 12px;
  }
  .footer_content{
      margin-left: -60px;
  }.email_block{
      margin-left: 23px;
  }
  .social_blocks{
      margin-left: 16px;
  }
  .footer_additionally span{
      font-size: 10px;
      
  }
  .footer_additionally {
      width: 300px;
  }
  .logo img{
    width: 150px;
    height: 70px;
}
.main_menu{
    width: 200px;
 margin-left:-70px;
 position: absolute;
}
}
@media(max-width:360px){
    .adap_block{
        margin-left: 10px;
    }
    .row1,.row2{
        margin-left: 7px;
    }
    .discover_wrapper{
        width: 350px;
    }
    .discover_subtitle{
        width: 250px;
    }
    
}
/* .logo img{
    width: 150px;
    height: 70px;
} */
/* .main_menu{
    width: 200px;
 margin-left:-70px;
 position: absolute;
} */
@media(max-width:320px){
    .header_wrapper{
        max-width: 310px;
        margin-left: 110px;
    }
    .img_adap img{
        width: 310px;
        height: 240px;
    }
    .plan_text{
         width: 300px;
         margin-left: -15px;
    }
  .video_content a img{
    width: 310px;
    height: 180px;
  }
  .block-title{
      margin-left: -130px;
  }
  .block-title_text{
    margin-left: -30px;
  }
  .adap_block{
    width: 40px;
    height: 40px;
  margin-left: 90px;  
 
  }
  .wrapper_team-adap .reusable_btn{
    width: 190px;
   height: 70px;
   margin-top: 390px;
   display: flex;
   align-items: center;
   justify-content: center;
   transform: translate(150px,-90px);
}
.row1,.row2{
     margin-left: -60px; 
}
.row2{
    /* margin-top: 220px; */
    display:flex ;
    flex-direction: column;
    margin-top:-10px;
}
.row1{
    display:flex ;
    flex-direction: column;
}

.adap_block img{
    width: 250px;
    height: 210px;
   
}
.adap_block{
    margin-top: 250px;
}
.team_block-title{
   width: 140px;
}
.wrapper_team-adap {
margin-top: -270px;
margin-left: 120px;
}
.team_title{
    margin-left: -20px;
}
.discover_wrapper{
    width: 310px;
}
.discover_title span{
    font-size: 15px;
}
.dis_btn1,.dis_btn2{
    width: 120px;
    height: 60px;
    display: flex;
    align-items: center;
 justify-content: center;

}
.dis_btn1 a,.dis_btn2 a{
    font-size: 15px;
   transform: translate(26px);
     width: 120px;
    height: 60px; 
}
.email_block{
    width: 290px;
    margin-left: 45px;
}
.email_footer{
    width: 290px;
}
.get_block{
    margin-left: -20px;
}
.footer_additionally {
    width: 280px;
}
.logo img{
    width: 150px;
    height: 70px;
}
.main_menu{
    width: 200px;
 margin-left:-70px;
 position: absolute;
}
}